In [1]:
import json

with open('ini/mysql_local.json', 'r') as file:
 config_str = file.read()

config = json.loads(config_str)

import pymysql

conn = pymysql.connect(
 host = config['host'],
 user = config['user'],
 password = config['password'],
 database = config['database'],
 port = config['port']
)

## 테이블 생성

In [2]:
cur = conn.cursor()
sql_user = '''
 create table if not exists users (
uid varchar(20) not null primary key,
pwd char(44) not null,
uname varchar(20) not null,
email varchar(40) not null,
reg_date datetime default current_timestamp,
is_deleted int default 0
 );
'''
cur.execute(sql_user)

0

## 데이터 추가

In [ ]:
cur = conn.cursor()
sql_insert = "INSERT INTO users(uid, pwd , uname) VALUES('admin', '1234', '관리자');"
cur.execute(sql_insert)

In [5]:
sql_select = "select * from users;"
cur.execute(sql_select)
row = cur.fetchone()

In [6]:
row

('admin', '1234', '관리자', None, datetime.datetime(2021, 8, 25, 13, 28, 56), 0)

# 데이터를 물리 디스크에 쓰게하는 명령

In [7]:
conn.commit()

- 여러건의 데이터 추가

In [9]:
sql_multi_insert = """
            INSERT INTO users(uid, pwd , uname) VALUES
            ('dskim', '1234', '김은숙')
            ,('wjlee', '1234', '이우정')
"""

cur.execute(sql_multi_insert)
conn.commit()

- Placeholder

In [10]:
sql_insert_ph = "INSERT INTO users(uid, pwd , uname) VALUES (%s, '1234', %s);"
uid, uname = 'djy','대조영'
# 가변인수 처리위해 튜플로 받는다.
cur.execute(sql_insert_ph, (uid, uname))
conn.commit()

- 여러건의 데이터를 placeholder를 이용해서 insert

In [11]:
sql_insert_ph = "INSERT INTO users(uid, pwd , uname) VALUES (%s, '1234', %s);"
users = [
            ('gdhong','홍길동')
            ,('ils','일이삼')
            ,('soy','사오육')
            ,('cpg','칠팔구')
]
# 가변인수 처리위해 튜플로 받는다.
cur.executemany(sql_insert_ph,users)
conn.commit()

In [ ]:
sql_insert_ph = "INSERT INTO users(uid, pwd , uname) VALUES (%s, '1234', %s);"
users = [
            ('gdhong','홍길동')
            ,('ils','일이삼')
            ,('soy','사오육')
            ,('cpg','칠팔구')
]

for user in users:
    cur.execute(sql_insert_ph, user)
conn.commit()

In [12]:
cur.close()
conn.close()