# mysql - 조회하는 방법

In [2]:
import json

with open('ini/mysql_local.json', 'r') as file:
 config_str = file.read()

config = json.loads(config_str)

import pymysql

conn = pymysql.connect(
 host = config['host'],
 user = config['user'],
 password = config['password'],
 database = config['database'],
 port = config['port']
)

## 데이터 조회

- 1 건 조회

In [3]:
sql_select = """
    SELECT uid, uname, email, DATE_FORMAT(reg_date,'%y-%m-%n %h:%i') AS reg_date
    FROM users WHERE is_deleted = 0
    ORDER BY reg_date;
"""

In [4]:
cur = conn.cursor()
cur.execute(sql_select)
row = cur.fetchone();
row

('admin', '관리자', None, '21-08-n 01:28')

In [14]:
row = cur.fetchone
row         # 맨 아래에서 close한후 돌렷음

- 여러건 조회

In [6]:
cur = conn.cursor()
cur.execute(sql_select)
rows = cur.fetchmany(3);
rows

(('admin', '관리자', None, '21-08-n 01:28'),
 ('dskim', '김은숙', None, '21-08-n 01:37'),
 ('wjlee', '이우정', None, '21-08-n 01:37'))

In [7]:
cur = conn.cursor()
cur.execute(sql_select)
rows = cur.fetchall();
rows

(('admin', '관리자', None, '21-08-n 01:28'),
 ('dskim', '김은숙', None, '21-08-n 01:37'),
 ('wjlee', '이우정', None, '21-08-n 01:37'),
 ('cpg', '칠팔구', None, '21-08-n 02:06'),
 ('gdhong', '홍길동', None, '21-08-n 02:06'),
 ('soy', '사오육', None, '21-08-n 02:06'))

- 반복문을 사용해서 조회

In [8]:
cur = conn.cursor()
cur.execute(sql_select)
for row in cur:
    print(row)

('admin', '관리자', None, '21-08-n 01:28')
('dskim', '김은숙', None, '21-08-n 01:37')
('wjlee', '이우정', None, '21-08-n 01:37')
('cpg', '칠팔구', None, '21-08-n 02:06')
('gdhong', '홍길동', None, '21-08-n 02:06')
('soy', '사오육', None, '21-08-n 02:06')

## 데이터 검색

In [10]:
uid = 'dskim'
sql_search = """
        SELECT uid, uname, email, DATE_FORMAT(reg_date,'%%y-%%m-%%n %%h:%%i') AS reg_date
        FROM users WHERE is_deleted = 0 AND uid = %s;
"""
cur = conn.cursor()
cur.execute(sql_search,(uid,))
result = cur.fetchone()

In [11]:
result

('dskim', '김은숙', None, '21-08-n 01:37')

- 데이터가 없는경우

In [12]:
uid = 'park'
cur = conn.cursor()
cur.execute(sql_search,(uid,))
result = cur.fetchone()

if result:
    print(result)
else:
    print(f'uid={uid}인 사용자는 없습니다.')

uid=park인 사용자는 없습니다.

In [13]:
cur.close()
conn.close()