# 1. table 생성

In [18]:
import json

with open('ini/mysql_local.json', 'r') as file:
 config_str = file.read()

config = json.loads(config_str)

import pymysql

conn = pymysql.connect(
 host = config['host'],
 user = config['user'],
 password = config['password'],
 database = config['database'],
 port = config['port']
)
cur = conn.cursor()

In [20]:

sql_table = '''
CREATE TABLE IF NOT EXISTS products (    
pid         INT AUTO_INCREMENT PRIMARY KEY,
pname       VARCHAR(50) NOT NULL,
pprice      FLOAT NOT NULL,
pcategory   VARCHAR(20) NOT NULL,
pcost       FLOAT NOT NULL  
 );
'''
cur.execute(sql_table)

sql_table = '''
CREATE TABLE IF NOT EXISTS sales (
sid         INT AUTO_INCREMENT PRIMARY KEY,
sdate       VARCHAR(50) NOT NULL,
scompany    VARCHAR(50) NOT NULL,      
spid        INT NOT NULL, 
sunit       INT NOT NULL        
 );
'''
cur.execute(sql_table)

0

# 2. 값 집어넣기

- 상품정보 만들기

In [19]:
#  테이블 데이터 초기화

# sql_table = '''
# TRUNCATE TABLE products;
# '''
# cur.execute(sql_table)

# sql_table = '''
# TRUNCATE TABLE sales;
# '''
# cur.execute(sql_table)

# sql_table = '''
# drop TABLE products;
# '''
# cur.execute(sql_table)

# sql_table = '''
# drop TABLE SALES;
# '''
# cur.execute(sql_table)

0

In [21]:
sql_insert = "INSERT INTO products (pname, pprice , pcategory, pcost) VALUES (%s, %s, %s, %s);"
# 상품명, 판매가, 카테고리(라이프/테크/패션), 제조원가
products = [
             ('와인잔거치대',34900,'라이프',24900)
            ,('식기세트',110000,'라이프',76000)
            ,('구공향로',90200,'라이프',72000)
            ,('팔성화로',139000,'라이프',86600)
            ,('퍼퓸샴푸',23000,'라이프',18400)
            ,('바디스파',490000,'라이프',400000)
            ,('워시팝피치핑크',190000,'라이프',100000)
            ,('워시팝코코넛화이트',190000,'라이프',100000)
            ,('텀블러',19900,'라이프',9900)
            ,('클리너',12000,'라이프',9900)    
            ,('닥터하우스웜스텐우드',130000,'라이프',65000)
            ,('세정제',13800,'라이프',11900)
            ,('우산',27000,'라이프',23000)
            ,('스마트폰거치대',21900,'테크',12900)
            ,('블루투스턴테이블',300000,'테크',249000)
            ,('손세정디스펜서',42900,'테크',37900)
            ,('구강세정기',42800,'테크',34900)
            ,('냉풍시트',129000,'테크',49000)
            ,('미러볼라이트',16900,'테크',12900)
            ,('블루투스키보드',32400,'테크',29900)
            ,('로봇청소기',789000,'테크',689000)
            ,('무선이어폰이어셋',159000,'테크',87000)
            ,('시네마빔프로젝터',1990000,'테크',1609000)    
            ,('노이즈캔슬링이어폰',349000,'테크',289900)
            ,('고속멀티충전기',55000,'테크',29900)
            ,('파워스테이션',579000,'테크',496000)
            ,('자켓',89000,'패션',59000)
            ,('벨트',25000,'패션',16900)
            ,('지샥머드마스터',390000,'패션',270000)
            ,('와그너스틸안경',105000,'패션',49000)
            ,('트리코트자켓',169000,'패션',47800)
            ,('밴딩팬츠',47300,'패션',30800)
            ,('무지셔츠',22300,'패션',17800)    
            ,('등산벨트',19000,'패션',5500)
            ,('선글라스',128000,'패션',33900)
            ,('마스크',9800,'패션',8000)
            ,('스니커즈',120000,'패션',109000)
            ,('코코넛샌들',13900,'패션',5500)
            ,('카드지갑',24000,'패션',19200)
]

for product in products:
    cur.execute(sql_insert, product)
conn.commit()

In [22]:
import random

customer = ['현대중공업','한국공항공사','롯데건설','포스코건설','삼성물산','현대산업개발','조달청']
# a = random.choice([1,2,3,4,5])
# cus_ran = random.choice(customer)

In [23]:
# 1월~ 12월까지 LOOP
# 거래처 리스트 만들기
# 월별 거래처 랜덤선정
# 거래처별 랜덤 구매 횟수 루프
# 각 횟수별 구매일자 랜덤 산출
# 상품 랜덤 선택(1~39)

import calendar

for month_12 in range(12):
    month_cus_cnt = random.randrange(1,7)     #월별 거래처 수 랜덤
    month_last_day = calendar.monthrange(2020, month_12+1)[1]
    for cus_cnt in range(month_cus_cnt):
        rand_cur = customer[random.randrange(1,7)]  #월별 랜덤 거래처선택
        #월별 랜덤거래처의 랜덤 거래 횟수
        rand_buy_cnt = random.randrange(5,10)        
        for rand_by in range(rand_buy_cnt):         #거래 횟수별 루프
            # 랜덤 상품, 랜덤 수량, 랜덤 일자
            rand_item = random.randrange(1,39)
            rand_count = random.randrange(1,10)
            rand_date = "2020-" + str(month_12+1)+"-"+str(random.randrange(1,month_last_day))

            sql_insert = "INSERT INTO sales (sdate, scompany , spid, sunit) VALUES (date_format('{}','%Y-%m-%d'), '{}', {}, {});"   
            #print(sql_insert.format(rand_date, rand_cur, rand_item, rand_count))         
            cur.execute(sql_insert.format(rand_date, rand_cur, rand_item, rand_count))

conn.commit()

In [24]:
cur.close()
conn.close()