# Pandas - Series

In [1]:
import numpy as np
import pandas as pd

## 시리즈 생성

In [23]:
s = pd.Series([9904312,3448737,2890451,2466052])
s

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [25]:
s = pd.Series([9904312,3448737,2890451,2466052]
            ,index=['서울','부산','인천','대구']
            ,dtype = np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [5]:
# 시리즈의 값 - 넘파이 배열
s.values

array([9904312, 3448737, 2890451, 2466052])

In [6]:
# 시리즈의 인덱스
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [22]:
s.name = "인구"
s.index.name = "도시"
s

도시
서울    0.990431
부산    0.344874
인천    0.289045
대구    0.246605
Name: 인구, dtype: float64

## 시리즈의 연산

In [21]:
s / 1000000

도시
서울    9.904312e-07
부산    3.448737e-07
인천    2.890451e-07
대구    2.466052e-07
Name: 인구, dtype: float64

## 시리즈 인덱싱

In [46]:
s = pd.Series([9904312,3448737,2890451,2466052]
            ,index=['서울','부산','인천','대구']
            ,dtype = np.int32)

In [33]:
s[1], s["부산"]

(3448737, 3448737)

In [34]:
# fancy indexing
#s[[0,3,1]]
s[["서울","대구","부산"]]

서울    9904312
대구    2466052
부산    3448737
dtype: int32

In [35]:
# slicing
s[1:3]

부산    3448737
인천    2890451
dtype: int32

In [36]:
# 문자 인덱스로 슬라이싱 하면 마지막(대구)도 포함
s["부산":"대구"]

부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [37]:
# 필터링
s[(2500000 < s) & (s < 3000000)]

인천    2890451
dtype: int32

In [38]:
s[ (s < 25e5) | (s > 4e6) ]

서울    9904312
대구    2466052
dtype: int32

In [39]:
s.부산

3448737

## 시리즈와 딕셔너리

In [47]:
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [48]:
"서울" in s, "대전" in s

(True, False)

In [49]:
s2 = pd.Series({"서울":9631482,"부산":3393191,"인천":2632035,"대전":1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

## 인덱스 기반 연산

In [50]:
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [51]:
rs = (s-s2)/s2 * 100
rs

대구         NaN
대전         NaN
부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [52]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [56]:
rs[rs.notnull()]
rs

대구         NaN
대전         NaN
부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

## 데이터의 갱신, 추가, 삭제

In [55]:
# update
rs["부산"] = 1.63
rs

대구         NaN
대전         NaN
부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [57]:
# insert
rs["대구"] = 1.41
rs

대구    1.410000
대전         NaN
부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [58]:
# delete
del rs["부산"]
rs

대구    1.410000
대전         NaN
서울    2.832690
인천    9.818107
dtype: float64