In [5]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [6]:
from google.colab import drive
drive.mount('/content/mnt')

Drive already mounted at /content/mnt; to attempt to forcibly remount, call drive.mount("/content/mnt", force_remount=True).

In [7]:
data_folder = '/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630'

## 서울데이터에서 4개 매장정보 추출하기

In [15]:
df = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv')
df = df[df.상권업종중분류코드 == 'Q12']
df = df[['상호명','지점명','시도명','시군구명','도로명주소']]
print(df.shape)
df.head()

(20832, 5)

       상호명          지점명    시도명 시군구명                도로명주소
28     커피빈  코리아대학로대명거리점  서울특별시  종로구     서울특별시 종로구 대명길 25
111  요거프레소          쌍문점  서울특별시  도봉구      서울특별시 도봉구 도당로 7
190  메머드커피          NaN  서울특별시  마포구   서울특별시 마포구 와우산로 149
197  우성커피숍          NaN  서울특별시  양천구     서울특별시 양천구 오목로 48
225   카페클럽          NaN  서울특별시  송파구  서울특별시 송파구 동남로2길 3-6

In [17]:
sb = df[df.상호명.str.contains('스타벅스|STARBUCKS|스타박스', case = False)]
sb.head()

              상호명      지점명    시도명  시군구명                 도로명주소
1738         스타벅스   동숭로아트점  서울특별시   종로구     서울특별시 종로구 동숭길 110
2766  스타벅스남부터미널2점  남부터미널2점  서울특별시   서초구     서울특별시 서초구 효령로 274
3785         스타벅스      당산점  서울특별시  영등포구     서울특별시 영등포구 양평로 64
3933         스타벅스    가로수길점  서울특별시   강남구  서울특별시 강남구 논현로175길 94
3995  스타벅스미아사거리역점  미아사거리역점  서울특별시   강북구      서울특별시 강북구 도봉로 32

In [18]:
sb2 = df[df.상호명.str.contains('스타벅스|STARBUCKS|스타박스', na = False, case = False)]
sb2.head()

              상호명      지점명    시도명  시군구명                 도로명주소
1738         스타벅스   동숭로아트점  서울특별시   종로구     서울특별시 종로구 동숭길 110
2766  스타벅스남부터미널2점  남부터미널2점  서울특별시   서초구     서울특별시 서초구 효령로 274
3785         스타벅스      당산점  서울특별시  영등포구     서울특별시 영등포구 양평로 64
3933         스타벅스    가로수길점  서울특별시   강남구  서울특별시 강남구 논현로175길 94
3995  스타벅스미아사거리역점  미아사거리역점  서울특별시   강북구      서울특별시 강북구 도봉로 32

In [19]:
cb = df[df.상호명.str.contains('커피빈|COFFEEBEAN', case = False)]
cb.head()

              상호명           지점명    시도명 시군구명                 도로명주소
28            커피빈   코리아대학로대명거리점  서울특별시  종로구      서울특별시 종로구 대명길 25
316   커피빈코리아낙성대역점      코리아낙성대역점  서울특별시  관악구  서울특별시 관악구 남부순환로 1909
1470          커피빈  코리아강남역랭기지타워점  서울특별시  강남구   서울특별시 강남구 테헤란로4길 28
1491          커피빈      코리아청담성당점  서울특별시  강남구     서울특별시 강남구 삼성로 716
1506          커피빈      코리아청담에스점  서울특별시  강남구    서울특별시 강남구 압구정로 461

In [20]:
cb2 = df[df.지점명.str.contains('커피빈|COFFEEBEAN', na = False, case = False)]
cb2.head()

Empty DataFrame
Columns: [상호명, 지점명, 시도명, 시군구명, 도로명주소]
Index: []

In [21]:
ed = df[df.상호명.str.contains('이디야|이디아|EDIYA', case = False)]
ed.head()

             상호명    지점명    시도명  시군구명                도로명주소
1272       이디야커피   신길역점  서울특별시  영등포구  서울특별시 영등포구 영등포로 353
1411       이디야커피   라이프점  서울특별시  영등포구    서울특별시 영등포구 63로 40
2433  이디야커피양재AT점  양재AT점  서울특별시   서초구      서울특별시 서초구 동산로 3
2690       이디아커피    NaN  서울특별시   강동구   서울특별시 강동구 성내로6길 20
2785       이디야커피    시흥점  서울특별시   금천구    서울특별시 금천구 금하로 750

In [22]:
ed2 = df[df.상호명.str.contains('이디야|이디아|EDIYA', na = False, case = False)]
ed2.head()

             상호명    지점명    시도명  시군구명                도로명주소
1272       이디야커피   신길역점  서울특별시  영등포구  서울특별시 영등포구 영등포로 353
1411       이디야커피   라이프점  서울특별시  영등포구    서울특별시 영등포구 63로 40
2433  이디야커피양재AT점  양재AT점  서울특별시   서초구      서울특별시 서초구 동산로 3
2690       이디아커피    NaN  서울특별시   강동구   서울특별시 강동구 성내로6길 20
2785       이디야커피    시흥점  서울특별시   금천구    서울특별시 금천구 금하로 750

In [23]:
# bd = df[df.상호명.str.condains('빽다방|백다방|PAIKSCOFFEE', case = False)]
bd = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', case = False)]
bd.head()

               상호명       지점명    시도명 시군구명                 도로명주소
7607     빽다방공덕새창로점    공덕새창로점  서울특별시  마포구    서울특별시 마포구 새창로 15-1
8565      빽다방서초우성점     서초우성점  서울특별시  서초구    서울특별시 서초구 사임당로 181
19901  빽다방중계은행사거리점  중계은행사거리점  서울특별시  노원구   서울특별시 노원구 한글비석로 235
26972     빽다방성신여대점     성신여대점  서울특별시  성북구  서울특별시 성북구 동소문로20나길 3
27346    빽다방신림역1호점    신림역1호점  서울특별시  관악구  서울특별시 관악구 남부순환로 1592

In [24]:
bd2 = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', na = False, case = False)]
bd2.head()

               상호명       지점명    시도명 시군구명                 도로명주소
7607     빽다방공덕새창로점    공덕새창로점  서울특별시  마포구    서울특별시 마포구 새창로 15-1
8565      빽다방서초우성점     서초우성점  서울특별시  서초구    서울특별시 서초구 사임당로 181
19901  빽다방중계은행사거리점  중계은행사거리점  서울특별시  노원구   서울특별시 노원구 한글비석로 235
26972     빽다방성신여대점     성신여대점  서울특별시  성북구  서울특별시 성북구 동소문로20나길 3
27346    빽다방신림역1호점    신림역1호점  서울특별시  관악구  서울특별시 관악구 남부순환로 1592

In [26]:
len(sb), len(cb), len(ed), len(bd)

(489, 169, 462, 127)

## 전국 데이터에서 4개 매장 정보 추출하기

In [30]:
starbucks = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])
coffeebean = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])
ediya = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])
paik = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])

In [31]:
from glob import glob
for file in glob(f'{data_folder}/*.csv'):
    print(file)
    df = pd.read_csv(file)
    df = df[df.상권업종중분류코드 == 'Q12']
    df = df[['상호명','지점명','시도명','시군구명','도로명주소']]

    sb = df[df.상호명.str.contains('스타벅스|STARBUCKS', case=False)]
    cb = df[df.상호명.str.contains('커피빈|COFFEEBEAN', case=False)]
    ed = df[df.상호명.str.contains('이디야|EDIYA', case=False)]
    bd = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', case=False)]

    starbucks = pd.concat([starbucks, sb])
    coffeebean = pd.concat([coffeebean, cb])
    ediya = pd.concat([ediya, ed])
    paik = pd.concat([paik, bd])

/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_세종_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_울산_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_광주_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_제주_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_인천_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_부산_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경북_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전북_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대전_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충북_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대구_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경기_202106.csv

In [32]:
starbucks.tail()

         상호명      지점명  시도명     시군구명                 도로명주소
498437  스타벅스  안성계동DT점  경기도      안성시    경기도 안성시 안성맞춤대로 803
500089  스타벅스   수지성복역점  경기도  용인시 수지구   경기도 용인시 수지구 성복2로 37
500634  스타벅스    파주산내점  경기도      파주시    경기도 파주시 청암로17번길 29
501689  스타벅스   안양이마트점  경기도  안양시 동안구  경기도 안양시 동안구 관악대로 104
505706  스타벅스      죽전점  경기도  용인시 수지구   경기도 용인시 수지구 현암로 140

In [33]:
len(starbucks), len(coffeebean), len(ediya), len(paik)

(1547, 293, 2120, 609)

In [34]:
result_dir = "/content/mnt/MyDrive/results/CoffeeIndex"

In [36]:
# !mkdir -p /content/mnt/MyDrive/results/CoffeeIndex
!mkdir -p $result_dir

In [35]:
starbucks.to_csv(f'{result_dir}/스타벅스.csv', index=False)
coffeebean.to_csv(f'{result_dir}/커피빈.csv', index=False)
ediya.to_csv(f'{result_dir}/이디야.csv', index=False)
paik.to_csv(f'{result_dir}/빽다방.csv', index=False)